html, body {
  /* background: #333; */
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "form canvas"
    "table canvas"
  ;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.render {
  display: flex;
  grid-area: canvas;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  overflow: auto;
}

.character-form {
  height: 100px;
  grid-area: form;
  display: flex;
  align-items: center;
  justify-content: center;
}

.characters {
  grid-area: table;
}

table {
  min-width: 80%;
  min-height: 60%;
  border-collapse: collapse;
}

thead,
table td {
  border: 1px solid black;
}

thead {
  border-top: none;
  border-left: none;
}

thead td:first-of-type {
  width: 20%;
  border: none;
}

tbody tr:first-of-type {
  color: #888;
}

.cell {
  cursor: pointer;
}

td {
  text-align: center;
}

.render canvas {
  touch-action: none;
  max-height: 100vh;
}